bin/
obj/
Debug/
Release/
x64/
x86/
[Bb]uild/
[Bb]in/

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

.idea/
.vscode/

*.log

packages/
*.nupkg
*.snupkg
.nuget/

TestResults/

publish/

.DS_Store
Thumbs.db

*.Designer.cs
*.resources
*.resx.user
